
{{ friendModel | json }}

<div class="content">
  <form id="test" name="friendbook" #formName="ngForm">
    <label for="firstname">First name:</label><br>
    <input type="text" placeholder="first name" id= firstname name="firstname" required minlength="3"
           #firstname=ngModel [class.error]="firstname.invalid && firstname.touched" [(ngModel)]="friendModel._firstname"/>
    <br>
    <label for="lastname">Last name:</label><br>
    <input type="text" placeholder="last name" id= lastname name="lastname" required minlength="3"
           #lastname=ngModel [class.error]="lastname.invalid && lastname.touched" [(ngModel)]="friendModel._lastname"/>
    <br>
    <label for="email">Email:</label><br>
    <input type="text" placeholder="email" id=email name="email" required minlength="3"
           #email=ngModel [class.error]="email.invalid && email.touched" [(ngModel)]="friendModel._email"/>
    <br>
    <label for="phone">Phone:</label><br>
    <input type="text" placeholder="phone number" id="phone" name="phone" required minlength="3"
           #phone=ngModel [class.error]="phone.invalid && phone.touched" [(ngModel)]="friendModel._phone"/>
    <br>
    <label for="language">Select language:</label><br>
    <select name="language" id="language" required minlength="3"
              #language=ngModel [class.error]="language.invalid && language.touched" [(ngModel)]="friendModel._language">
        <option *ngFor="let language of languages">
          {{ language.name }}
        </option>
    </select>
    <br>
    <button type="submit" value="Submit">Submit</button>
  </form>

</div>

